.about {
  position: relative;
  padding-block: 72px;

  @include on-tablet {
    padding-block: 152px;
  }

  @include on-desktop {
    padding-top: 178px;
    padding-bottom: 349px;
  }

  &__info {
    @include on-tablet {
      @include page-grid;

      height: 216px;
      margin-bottom: 72px;
    }

    @include on-desktop {
      height: 122px;
      margin-bottom: 144px;
    }
  }

  &__title {
    margin: 0;
    margin-bottom: 32px;
    color: $color-accent-orange;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__description {
    display: block;
    margin-bottom: 64px;
    color: $color-black;

    @include on-tablet {
      grid-column: span 4;
    }
  }

  &__statistics {
    display: flex;
    flex-direction: column;
    gap: 48px;

    @include on-tablet {
      @include page-grid;
    }

    &-info {
      display: flex;
      flex-direction: column;
      gap: 8px;

      @include on-tablet {
        grid-column: span 4;
      }

      @include on-desktop {
        grid-column: span 2;
      }
    }

    &-title {
      color: $color-accent-orange;
    }

    &-description {
      color: $color-black;
    }
  }

  &__background {
    position: absolute;
    z-index: -1;
    bottom: 246px;

    width: 100%;
    height: 300px;

    @include on-tablet {
      bottom: 204px;
      left: 121px;
      width: 526px;
      height: 493px;
    }

    @include on-desktop {
      bottom: 56px;
      left: 325px;
      width: 718px;
      height: 673px;
    }

    @include on-big-desktop {
      left: calc((100% - 718px) / 2);
    }
  }
}
