.contacts {
  &__title {
    max-width: 250px;
    margin: 0;
    margin-bottom: 40px;

    @include on-desktop {
      max-width: 500px;
    }
  }

  &__data {
    display: flex;
    flex-direction: column;
    gap: 40px;

    @include on-desktop {
      flex-direction: row;
      gap: 155px;
    }
  }

  &__phones {
    display: flex;
    flex-direction: column;
    gap: 16px;

    &-title {
      color: $color-grey;
    }
  }

  &__email {
    display: flex;
    flex-direction: column;
    gap: 16px;
    &-title {
      color: $color-grey;
    }
  }

  &__link {
    color: inherit;
    text-decoration: none;

    @include hover(transform, scale(1.1));
  }
}
