.footer {
  padding-block: 56px;
  color: white;
  background-color: $color-black;

  @include on-tablet {
    padding-block: 88px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 64px;

    @include on-tablet {
      flex-direction: row;
      gap: 184px;
    }

    @include on-desktop {
      gap: 405px;
    }

    @include on-big-desktop {
      gap: 440px;
    }
  }

  &__link {
    display: flex;
    width: 168px;

    @include hover(transform, scale(1.1));
  }

  &__logo {
    margin-bottom: 40px;

    @include on-tablet {
      margin-bottom: 96px;
    }

    @include on-desktop {
      margin-bottom: 61px;
    }
  }

  &__nav {
    display: flex;
    gap: 16px;
    align-items: start;

    &-title {
      display: block;
      margin-bottom: 16px;
      color: $color-grey;
    }
  }

  &__bottom {
    @include on-tablet {
      display: flex;
      gap: 216px;
    }

    @include on-desktop {
      gap: 432px;
    }

    @include on-big-desktop {
      gap: 472px;
    }
  }

  &__socials {
    display: flex;
    gap: 32px;
    margin-top: 40px;

    @include on-tablet {
      margin-top: 48px;
    }

    &-link {
      color: $color-accent-orange;

      @include hover(transform, scale(1.1));
      @include hover(color, white);
    }
  }

  &__rights {
    display: block;
    margin-top: 40px;
    color: $color-grey;
  }
}
