.icon {
  display: block;

  width: 24px;
  height: 24px;

  background-repeat: no-repeat;
  background-size: cover;

  &--menu {
    background-image: url('../images/icons/icon-menu.svg');

    @include hover(transform, scale(1.1));

    @include on-desktop {
      display: none;
    }
  }

  &--close {
    background-image: url('../images/icons/icon-close.svg');

    @include hover(transform, scale(1.1));
  }
}
