.nav {
  display: flex;
  flex-direction: column;
  gap: 24px;
  align-items: center;

  list-style: none;
  &__item {
    @include hover(transform, scale(1.1));
  }

  &__link {
    color: $color-black;
    text-decoration: none;
  }

  &__link--white {
    color: white;
  }

  &--horizontal {
    display: none;

    @include on-desktop {
      display: flex;
      flex-direction: row;
      gap: 64px;
    }
  }
}
