.page {
  scroll-behavior: smooth;

  min-width: 320px;
  margin: 0;
  padding: 0;

  background-color: $color-light-pink;

  &__body {
    margin: 0;
    padding: 0;
  }

  &__menu {
    pointer-events: none;

    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transform: translateX(-100%);

    opacity: 0;

    transition: transform $animation-speed;

    &:target {
      pointer-events: all;
      z-index: 1;
      transform: translateX(0);
      opacity: 1;
    }
  }

  &:has(.page__menu:target) {
    overflow: hidden;
  }
}
