.products {
  padding-top: 104px;

  @include on-tablet {
    padding-top: 228px;
  }

  @include on-desktop {
    padding-top: 218px;
  }

  @include on-big-desktop {
    padding-top: 178px;
  }

  &__title {
    margin: 0;
    margin-bottom: 24px;
    color: $color-accent-orange;
  }

  &__subtitle {
    display: block;
    margin-bottom: 56px;
    color: $color-black;

    @include on-tablet {
      margin-bottom: 80px;
    }
  }

  &__cards {
    @include page-grid;
  }
}
