.top-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;

  height: 64px;
  padding-inline: 16px;

  @include on-desktop {
    height: 88px;
    padding-inline: 32px;
  }

  &__link {
    cursor: pointer;
    width: 136px;
    height: 32px;

    @include hover(transform, scale(1.1));
  }

  &__logo {
    width: 100%;
  }
}
