$color-black: #1c1a26;
$color-light-pink: #ffeefc;
$color-accent-orange: #f9512e;
$color-grey: #7f8096;
$color-dark-orange: #b2341a;
$color-light-orange: #fba28f;
$animation-speed: 0.3s;
$main-font: Inter, Arial, Helvetica, sans-serif;
$tablet-min-width: 640px;
$desktop-min-width: 1024px;
$big-desktop-min-width: 1201px;
$fonts: (
  h1: (
    font: $main-font,
    style: normal,
    weight: normal,
    size: (
      mobile: 64px,
      tablet: 80px,
      desktop: 136px,
      big-desktop: 144px,
    ),
    height: 85%,
    spacing: -0.05em,
    transorm: uppercase,
  ),
  h2: (
    font: $main-font,
    style: normal,
    weight: normal,
    size: (
      mobile: 48px,
      tablet: 56px,
      desktop: 72px,
    ),
    height: 85%,
    spacing: -0.05em,
    transorm: uppercase,
  ),
  main-big: (
    font: $main-font,
    style: normal,
    weight: normal,
    size: (
      mobile: 96px,
    ),
    height: 85%,
    spacing: -0.05em,
    transorm: uppercase,
  ),
  main-regular: (
    font: $main-font,
    style: normal,
    weight: 400,
    size: (
      mobile: 16px,
    ),
    height: 150%,
    spacing: -0.01em,
    transorm: none,
  ),
  main-upper: (
    font: $main-font,
    style: normal,
    weight: 500,
    size: (
      mobile: 16px,
    ),
    height: 100%,
    spacing: 0.02em,
    transorm: uppercase,
  ),
);
